/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #f4f7f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #444;
    margin-bottom: 30px;
}

h2 {
    color: #444;
    margin-bottom: 15px;
}
#content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#menu, #quiz-container {
    max-width: 700px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 18px;
    color: #555;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

.next-question-btn {
  max-width: 700px;
}

#start-quiz-btn {
    background-color: #243642;
}

#review-questions-btn {
    background-color: #387478;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

h3 {
    margin-bottom: 10px;
    color: #333;
}

div {
    margin-bottom: 10px;
}

.correct {
    color: green;
    font-weight: bold;
}

.incorrect {
    color: red;
    font-weight: bold;
}

.result-container {
    text-align: center;
    font-size: 20px;
    background-color: #e0f7e7;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#pagination button {
    background-color: #629584;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

#pagination button:hover {
    background-color: #82c4ae;
}

#pagination button:disabled {
    background-color: #9dbfa8;
    cursor: not-allowed;
}

input[type="radio"] {
    margin-right: 10px;
}

#next-question-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    width: 100%;
}

#next-question-btn:hover {
    background-color: #0056b3;
}

#next-question-btn:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

#quiz-container h2, #quiz-container h3 {
    text-align: left;
    color: #333;
}

